.App {
  margin: 0;
  padding: 0;
  text-align: center;
}

.lists {
  width: 50%;
  margin: 0 auto;
  background: rgba(224, 229, 229, 0.6);
}

.shift-submit {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  margin-bottom: 100px;
}

.shift-submit input {
  padding: 10px;
  margin: 2px;
  width: 50%;
}

.list-overviews {
  align-items: center;
}

.list-overviews ul {
  margin-left: -40px;
}

.list-overviews ul li {
  display: flex;
  font-size: small;
  padding: 10px;
  justify-content: space-between;
  color: white;

  background-color: rgba(53, 54, 55, 0.5);
}

.search-name {
  border-radius: 10%;
  background-color: rgba(215, 219, 222, 0.5);
}
.search-name input,
button {
  padding: 6px;
  margin: 4px;
}

.fancy-border {
  border: 6px dashed rgba(11, 11, 11, 0.6);
  margin: 10px;
  border-radius: 5%;
  background-color: rgba(215, 219, 222, 0.5);
}
